.chat {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.chat:hover {
  background-color: gray;
}

.senderDetails {
  display: flex;
  flex-direction: column;
}

.timeDetails {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
