.messenger{
    height:calc(100vh - 80px);
    display:flex;
}

.chatMenu{
    flex:3.5;
    
}

.chatMenuInput{
    width:90%;
    padding:10px 0;
    border:none;
    border-bottom:1px solid gray;
}

.chatBox{
    flex:5.5;
}

.chatBoxBottom{
    display:flex;
    padding:10px 4px 5px 15px;
}

.chatOnline{
    flex:3;
}

.chatMenuWrapper,.chatBoxWrapper,.chatOnlineWrapper{
    padding:10px;
    height:100%;
    overflow:auto;
}

.chatBoxWrapper{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    position:relative;
}

.startChat{
    position:absolute;
    font-size:3rem;
    font-weight:700;
    color:gray;
    top:40%;
    rigt:40%;
    text-align:center;
    cursor:default;
}